<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/skins/skin-blue.min.css}">

    <style>
        .first-column {
            position: absolute;
            min-width: 200px;
            z-index: 99;
            background-color: #fff;
            border-right: 1px solid #c1c1c1;
        }
        .next-column {
            min-height: 37px;
            margin-left: 200px;
        }
    </style>
</head>
<body ng-app="productionAttendanceControl" class="skin-blue fixed sidebar-mini" style="height: auto; min-height: 100%;">

<div class="wrapper">

    <div th:insert="~{partials/header :: section__header}"></div>
    <div th:insert="~{partials/sidebar :: section__sidebar}"></div>

    <div class="content-wrapper">
        <div th:insert="~{partials/content-header :: section__content-header}"></div>
        <!-- Main content -->
        <section class="content" ng-controller="AttendanceController">

            <div class="row">
                <div class="col-md-8">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Choose</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="input-group">
                                <select name="months" ng-model="months" class="form-control">
                                    <option value="NULL" selected>-- Select month for filtering --</option>
                                    <option value="JANUARY">January</option>
                                    <option value="FEBRUARY">February</option>
                                    <option value="MARCH">March</option>
                                    <option value="APRIL">April</option>
                                    <option value="MAY">May</option>
                                    <option value="JUNE">June</option>
                                    <option value="JULY">July</option>
                                    <option value="AUGUST">August</option>
                                    <option value="SEPTEMBER">September</option>
                                    <option value="OCTOBER">October</option>
                                    <option value="NOVEMBER">November</option>
                                    <option value="DECEMBER">December</option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" ng-click="getDate(months)">Get</button>
                                </span>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Employee attendance</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td class="first-column" style="font-weight: bold;">Employee</td>
                                    <td style="min-width: 200px"></td>
                                    <td class="next-column" ng-repeat="day in days" id="{{ day }}" style="min-width: 200px; font-weight: bold;">{{ day }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in collection">
                                    <td class="first-column" style="min-height: 37px;">{{ item.employee.firstName }}</td>
                                    <td style="min-width: 200px;"></td>
                                    <td class="next-column" ng-repeat="item in item.attendanceList">
                                        <div ng-repeat="attendance in item.details">
                                            <span class="badge bg-green" ng-if="attendance.arrivalTime !== null">
                                                <i class="fa fa-arrow-down"></i>{{ attendance.arrivalTime.substring(11,16) }}
                                            </span>
                                                <span class="badge bg-blue">
                                                <i class="fa fa-clock-o"></i>{{ attendance.workedHour }}
                                            </span>
                                                <span class="badge bg-orange" ng-if="attendance.departureTime !== null">
                                                <i class="fa fa-arrow-up"></i>{{ attendance.departureTime.substring(11,16) }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>{{ (item.overallHours - (item.overallHours % 60)) / 60 }}:{{ item.overallHours % 60 }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!--</div>-->

    <div th:insert="~{partials/footer :: section__footer}"></div>
</div>
<div th:insert="~{partials/scripts :: section__scripts}"></div>

<script th:src="@{//js/attendance.js}"></script>
</body>
</html>