<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/skins/skin-blue.min.css}">
</head>
<body ng-app="productionProdControl" class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">

<div th:insert="~{partials/header :: section__header}"></div>
<div th:insert="~{partials/sidebar :: section__sidebar}"></div>

<div ng-controller="ProductController">
    <div class="content-wrapper" style="min-height: 1135.8px;">
        <div th:insert="~{partials/content-header :: section__content-header}"></div>
        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All products</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Rate</th>
                            <th>Measurement</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="res in products">
                            <td>{{ res.id }}</td>
                            <td>{{ res.name }}</td>
                            <td>{{ res.description }}</td>
                            <td>{{ res.rate }}</td>
                            <td>{{ res.measurement }}</td>
                            <td>
                                <div class="btn-group">
                                    <a ng-click="openModal(res.id)" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="deleteProduct(res.id)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="openModal(-1)">
                        Create new product
                    </button>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="ProductModalController">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <form role="form">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Product</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class=" control-label">Name</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name" ng-model="product.name" ng-value="product.name">
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label">Description</label>
                            <input name="description" type="text" class="form-control" id="description" placeholder="Description" ng-model="product.description" ng-value="product.description">
                        </div>
                        <div class="form-group">
                            <label for="rate" class="control-label">Rate</label>
                            <input name="rate" type="number" step="0.01" class="form-control" id="rate" placeholder="Rate" ng-model="product.rate" ng-value="product.rate">
                        </div>
                        <div class="form-group">
                            <label for="measurement" class="control-label">Measurement</label>
                            <select name="measurement" id="measurement" class="form-control" ng-model="product.measurement">
                                <option value="kg">Kilos</option>
                                <option value="gr">Grams</option>
                                <option value="litre">Litres</option>
                                <option value="packs">Packs</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" ng-click="saveProduct()" name="submit" class="btn btn-primary" data-dismiss="modal" value="Save">
<!--                        <input type="submit" ng-click="editProduct()" name="submit" class="btn btn-primary" data-dismiss="modal" value="Update">-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{partials/footer :: section__footer}"></div>
<div th:insert="~{partials/scripts :: section__scripts}"></div>

<script th:src="@{//js/products.js}"></script>
</body>
</html>