<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/bower_components/datatables.net-bs/css/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/AdminLTE/2.4.0/dist/css/skins/skin-blue.min.css}">

</head>
<body ng-app="productionControl" class="skin-blue fixed sidebar-mini" style="height: auto; min-height: 100%;">

<div th:insert="~{partials/header :: section__header}"></div>
<div th:insert="~{partials/sidebar :: section__sidebar}"></div>

<div class="content-wrapper" ng-controller="ProductionIndexController">
    <div th:insert="~{partials/content-header :: section__content-header}"></div>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12 col xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Legend for Employee experiences</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
<!--                            <div class="col-md-6">-->
<!--                                <input type="number" ng-value="itemCount" ng-change="getAll()">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <select name="sortingDirection" id="sortingDirection" ng-model="sortingDirection" ng-change="getAll()">-->
<!--                                    <option value="true" selected>Descending</option>-->
<!--                                    <option value="false">Ascending</option>-->
<!--                                </select>-->
<!--                            </div>-->
                        </div>
                        <p class="text-center">
                            <span class="badge bg-aqua hov">0.1</span>
                            <span class="badge bg-blue hov">0.2</span>
                            <span class="badge bg-teal hov">0.3</span>
                            <span class="badge bg-lime hov">0.4</span>
                            <span class="badge bg-green hov">0.5</span>
                            <span class="badge bg-olive hov">0.6</span>
                            <span class="badge bg-yellow hov">0.7</span>
                            <span class="badge bg-orange hov">0.8</span>
                            <span class="badge bg-red hov">0.9</span>
                            <span class="badge bg-maroon hov">1</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">All produced products</h3>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table id="example" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="min-width: 100px;">Date</th>
                                    <th>Reference number</th>
                                    <th>Product name</th>
                                    <th>Measurement</th>
                                    <th>Product rate</th>
                                    <th>Cost</th>
                                    <th>Amount</th>
                                    <th>Performers</th>
                                    <th style="min-width: 100px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="res in production">
                                    <td>{{ res.production.id }}</td>
                                    <td>{{ res.production.date.substring(0,10) }}</td>
                                    <td>{{ res.production.reference }}</td>
                                    <td>{{ res.product.name }}</td>
                                    <td>{{ res.product.measurement }}</td>
                                    <td>{{ res.product.rate }}</td>
                                    <td>{{ res.production.cost }}</td>
                                    <td>{{ res.production.amount }}</td>
                                    <td>
                                        <div ng-repeat="p in res.performerRows">
                                            <span class="badge bg-aqua hov" ng-if="p.employee.experience === 0.1">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-blue hov" ng-if="p.employee.experience === 0.2">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-teal hov" ng-if="p.employee.experience === 0.3">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-lime hov" ng-if="p.employee.experience === 0.4">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-green hov" ng-if="p.employee.experience === 0.5">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-olive hov" ng-if="p.employee.experience === 0.6">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-yellow hov" ng-if="p.employee.experience === 0.7">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-orange hov" ng-if="p.employee.experience === 0.8">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-red hov" ng-if="p.employee.experience === 0.9">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                            <span class="badge bg-maroon hov" ng-if="p.employee.experience === 1">{{ p.firstName }} {{ p.secondName }}, {{ p.salary }}<br></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a ng-click="openModal(res.production.id)" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a ng-click="deleteProduction(res.production.id)" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Reference number</th>
                                    <th>Product name</th>
                                    <th>Measurement</th>
                                    <th>Product rate</th>
                                    <th>Cost</th>
                                    <th>Amount</th>
                                    <th>Performers</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>


                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 py-3">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" style="margin: 20px" ng-click="openModal(-1)" data-toggle="modal" data-target="#myModal">
                                    Register new production
                                </button>
                            </div>
                            <div class="col-md-6 col-xs-12 text-right">
                                <nav class="m-0 p-0 float-right">
                                    <ul class="pagination justify-content-end m-0 p-0">
                                        <li class="page-item"><a class="page-link" ng-click="getAll(firstAndLastLinks.first)">First</a></li>
                                    </ul>
                                    <ul class="pagination justify-content-end m-0 p-0" ng-repeat="link in pageLinks">
                                        <li class="page-item active" ng-if="link.index === currentPage"><a class="page-link" ng-click="getAll(link.link)">{{ link.index+1 }}</a></li>
                                        <li class="page-item" ng-if="link.index != currentPage"><a class="page-link" ng-click="getAll(link.link)">{{ link.index+1 }}</a></li>
                                    </ul>
                                    <ul class="pagination justify-content-end m-0 p-0">
                                        <li class="page-item"><a class="page-link" ng-click="getAll(firstAndLastLinks.last)">Last</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- /.content -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="RegisterProduction">
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Production</h4>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" ng-model="production.date" ng-value="production.date.substring(0,10)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product">Select product</label>
                                <select name="product" id="product" ng-model="production.product" ng-options="obj.id as obj.name for obj in products track by obj.id" class="form-control" ng-change="selectProduct()"></select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cost" class="control-label">Price</label>
                                <div class="input-group">
                                    <input type="number" name="price" class="form-control" id="price" ng-model="production.product.rate" ng-value="production.product.rate" disabled>
                                    <span class="input-group-addon">/ {{ production.product.measurement }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="amount" class="control-label">Amount</label>
                                <input type="number" name="amount" step="0.1" min="0.1" class="form-control" id="amount" ng-model="production.amount" ng-change="calcTotalCost()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cost" class="control-label">Cost</label>
                                <input type="number" name="cost" class="form-control" id="cost" ng-model="production.cost" ng-value="production.cost" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Process performers</h3>

                    <table class="table table-bordered table-hover">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Worker</th>
                            <th style="max-width: 10rem;">Experience</th>
                            <th>Work hours</th>
                            <th>Salary</th>
                        </tr>
                        <tr ng-repeat="perf in performerRows track by $index">
                            <td>{{ perf.listId }}</td>
                            <td>
                                <select
                                        id="employee"
                                        name="employee"
                                        ng-options="emp.id as emp.firstName for emp in employees track by emp.id"
                                        ng-model="perf.employee"
                                        class="form-control"
                                        ng-change="addThisEmployee(perf.listId)"
                                ></select>
                            </td>
                            <td><input type="number" step="0.01" min="0.01" max="1" class="form-control" id="experience" ng-model="perf.experience" ng-value="perf.employee.experience" ng-change="calculateSalaryForOne()"></td>
                            <td><input type="number" step="0.01" min="0.01" max="1" class="form-control" id="workedHours" ng-model="perf.workedHours" ng-value="perf.workedHours" ng-init="workedHours=1" ng-change="calculateSalaryForOne()"></td>
                            <td><input type="number" name="salary" class="form-control" ng-model="perf.salary" ng-value="perf.salary" disabled></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type="number" name="overallSalary" class="form-control" ng-model="overallSalary" ng-value="overallSalary" disabled></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="resetFormData()" class="btn btn-default" data-dismiss="modal">Close</button>

                <input type="submit" ng-click="saveProduction()" name="submit" class="btn btn-primary" data-dismiss="modal" value="Save">
            </div>
        </div>
    </div>
</div>

<div th:insert="~{partials/footer :: section__footer}"></div>
<div th:insert="~{partials/scripts :: section__scripts}"></div>

<script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/datatables.net-bs/js/dataTables.bootstrap.js}"></script>
<script th:src="@{//js/production.js}"></script>

</body>
</html>