<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="section__scripts">
    <script th:src="@{//webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{//webjars/angularjs/1.7.4/angular.min.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/fastclick/lib/fastclick.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/bower_components/chart.js/Chart.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/dist/js/adminlte.min.js}"></script>
    <script th:src="@{//webjars/AdminLTE/2.4.0/dist/js/demo.js}"></script>
<!--    <script th:src="@{//js/main.js}"></script>-->
    <script th:src="@{//js/employees.js}"></script>
    <script th:src="@{//js/groups.js}"></script>
    <script th:src="@{//js/products.js}"></script>
    <script th:src="@{//js/production.js}"></script>
    <script th:src="@{//js/salaries.js}"></script>
</div>
</body>
</html>